* {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: inherit;
  vertical-align: baseline;
}
iframe {
  border: 0;
}
html {
  box-sizing: border-box;
  font-size: 12pt;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* normalize */
html,
body {
  width: 100%;
  height: 100%;
}
input,
button,
body {
  font-family: Dosis, Roboto, 'SF UI Text', 'Helvetica Neue', Helvetica, sans-serif;
  color: #34495E;
}
ul,
ol {
  list-style-position: inside;
}
/* typography */
h1 {
  font-size: 42pt;
}
h2 {
  font-size: 32.4pt;
}
h3 {
  font-size: 25.2pt;
}
h4 {
  font-size: 20.4pt;
}
h5 {
  font-size: 16.8pt;
}
h6 {
  font-size: 13.2pt;
}
/* tables */
table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}
th {
  text-align: left;
  font-weight: bold;
}
th,
td {
  line-height: inherit;
  padding: 12px 12px;
}
th {
  vertical-align: bottom;
}
td {
  vertical-align: top;
}
/* forms */
label {
  vertical-align: middle;
}
svg,
img,
input {
  max-width: 100%;
  background: transparent;
}
select,
textarea {
  line-height: 1.75;
}
a:focus,
input:focus,
button:focus,
textarea:focus {
  outline: 0;
}
@-webkit-keyframes flick {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes flick {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0%) scale(0.9);
            transform: translateY(0%) scale(0.9);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0%) scale(0.9);
            transform: translateY(0%) scale(0.9);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translateY(0%) scale(0.9);
            transform: translateY(0%) scale(0.9);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0%) scale(0.9);
            transform: translateY(0%) scale(0.9);
  }
}
body {
  overflow-x: hidden;
}
.float {
  -webkit-animation: float 1.6s infinite;
          animation: float 1.6s infinite;
}
.smoo-fence--overlay {
  z-index: 5 !important;
}
.smoo-fence--overlay .smoo-fence--wrapper {
  max-width: 540px;
}
.loading-overlay {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  color: #AAAAAA;
  transition: opacity 0.5s;
}
.loading-overlay.fade-out {
  pointer-events: none;
  opacity: 0;
}
.debug {
  outline: 1px dashed red;
}
.debug * {
  outline: 1px dashed red;
}
.-dis {
  position: relative;
}
.-dis::before,
.-dis::after {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.-dis::before {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-animation: flick 1.6s infinite;
          animation: flick 1.6s infinite;
  content: ' ';
}
.-dis::after {
  background-color: rgba(255, 255, 255, 0.9);
  content: 'Loading...';
  margin: auto;
  width: 200px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
/* animations */
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.spin {
  -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
}
.arr::before {
  content: '▹ ';
}
.min {
  min-width: 6em !important;
}
/* flexbox */
.flx {
  display: flex;
}
.gap {
  gap: 10px;
}
.flx-cl {
  flex-direction: column;
}
.flx-wp {
  flex-wrap: wrap;
}
.flx-c {
  align-items: center;
}
.flx-b {
  align-items: baseline;
}
.flx-h {
  align-items: stretch;
}
.flx-t {
  align-items: flex-start;
}
.flx-e {
  align-items: flex-end;
}
.flx-j {
  justify-content: space-between;
}
.flx-jc {
  justify-content: center;
}
.flx-a {
  flex: 1;
  min-width: 0;
  min-height: 0;
}
.flx-gw {
  flex: 1 0 auto;
}
.flx-no {
  flex: none;
}
.flx-ft {
  order: -1;
}
.flx-lt {
  order: 99999;
}
.flx-m > .flx-a ~ .flx-a {
  margin-top: 12px;
}
.flx-m > .flx-a ~ .flx-mt {
  margin-top: 12px;
}
.flx-m > .flx-a ~ .flx-mr {
  margin-top: 12px;
}
.flx-m > .flx-a ~ .flx-ml {
  margin-left: 12px;
}
.h-sm {
  display: none;
}
@media screen and (min-width: 480px) {
  .sm-no-flx {
    display: block;
  }
  .sm-flx {
    display: flex;
  }
  .sm-flx.flx-m > .flx-a ~ .flx-a {
    margin-top: 0;
    margin-left: 12px;
  }
  .sm-flx.flx-m > .flx-a ~ .flx-mr {
    margin-top: 0;
    margin-right: 12px;
  }
  .sm-flx.flx-m > .flx-a ~ .flx-mt {
    margin-top: 0;
    margin-left: 12px;
  }
}
@media screen and (min-width: 720px) {
  .h-sm {
    display: block;
  }
  .md-flx {
    display: flex;
  }
  .md-flx.flx-m > .flx-a ~ .flx-a {
    margin-top: 0;
    margin-left: 12px;
  }
  .md-flx.flx-m > .flx-lt ~ .flx-mr {
    margin-top: 0;
    margin-left: 0;
    margin-right: 12px;
  }
  .md-flx.flx-m > .flx-lt ~ .flx-mt {
    margin-top: 0;
    margin-right: 0;
    margin-left: 12px;
  }
}
/* grid */
.cnt {
  margin-left: auto;
  margin-right: auto;
}
.cl-1 {
  width: 8.33333%;
}
.cl-2 {
  width: 16.66667%;
}
.cl-3 {
  width: 25%;
}
.cl-4 {
  width: 33.33333%;
}
.cl-5 {
  width: 41.66667%;
}
.cl-6 {
  width: 50%;
}
.cl-7 {
  width: 58.33333%;
}
.cl-8 {
  width: 66.66667%;
}
.cl-9 {
  width: 75%;
}
.cl-10 {
  width: 83.33333%;
}
.cl-11 {
  width: 91.66667%;
}
.cl-12 {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .sm-cl-1 {
    width: 8.33333%;
  }
  .sm-cl-2 {
    width: 16.66667%;
  }
  .sm-cl-3 {
    width: 25%;
  }
  .sm-cl-4 {
    width: 33.33333%;
  }
  .sm-cl-5 {
    width: 41.66667%;
  }
  .sm-cl-6 {
    width: 50%;
  }
  .sm-cl-7 {
    width: 58.33333%;
  }
  .sm-cl-8 {
    width: 66.66667%;
  }
  .sm-cl-9 {
    width: 75%;
  }
  .sm-cl-10 {
    width: 83.33333%;
  }
  .sm-cl-11 {
    width: 91.66667%;
  }
  .sm-cl-12 {
    width: 100%;
  }
}
@media screen and (min-width: 720px) {
  .md-cl-1 {
    width: 8.33333%;
  }
  .md-cl-2 {
    width: 16.66667%;
  }
  .md-cl-3 {
    width: 25%;
  }
  .md-cl-4 {
    width: 33.33333%;
  }
  .md-cl-5 {
    width: 41.66667%;
  }
  .md-cl-6 {
    width: 50%;
  }
  .md-cl-7 {
    width: 58.33333%;
  }
  .md-cl-8 {
    width: 66.66667%;
  }
  .md-cl-9 {
    width: 75%;
  }
  .md-cl-10 {
    width: 83.33333%;
  }
  .md-cl-11 {
    width: 91.66667%;
  }
  .md-cl-12 {
    width: 100%;
  }
}
/* typography */
.bgr {
  font-size: 42pt;
}
.bg {
  font-size: 32.4pt;
}
.hg {
  font-size: 25.2pt;
}
.md {
  font-size: 20.4pt;
}
.sml {
  font-size: 16.8pt;
}
.smlr {
  font-size: 13.2pt;
}
.nosl {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ttu {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.lt {
  text-decoration: line-through;
}
.a {
  cursor: pointer;
}
.tal {
  text-align: left;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.taj {
  text-align: justify;
}
.wsn {
  white-space: nowrap;
}
.wwb {
  word-wrap: break-word;
}
.tr {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.lr {
  list-style: none;
  padding-left: 0;
}
.ln {
  list-style: none;
}
.tdu {
  text-decoration: underline;
}
.tdn {
  text-decoration: none;
}
/* alignment */
.di {
  display: inline;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
.dt {
  display: table;
}
.dtc {
  display: table-cell;
}
.dn {
  display: none;
}
.oh {
  overflow: hidden;
}
.os {
  overflow: scroll;
}
.oa {
  overflow: auto;
}
.clr::before,
.clr::after {
  content: ' ';
  display: table;
}
.clr::after {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fit {
  max-width: 100%;
}
.ab {
  vertical-align: baseline;
}
.at {
  vertical-align: top;
}
.am {
  vertical-align: middle;
}
.ab {
  vertical-align: bottom;
}
/* white-space */
.m {
  margin: 12px;
}
.m ~ .m {
  margin-top: 0;
}
.mt {
  margin-top: 12px;
}
.mr {
  margin-right: 12px;
}
.mb {
  margin-bottom: 12px;
}
.ml {
  margin-left: 12px;
}
.mxa {
  margin-left: auto;
  margin-right: auto;
}
.p {
  padding: 12px;
}
.p ~ .p {
  padding-top: 0;
}
.pt {
  padding-top: 12px;
}
.pr {
  padding-right: 12px;
}
.pb {
  padding-bottom: 12px;
}
.pl {
  padding-left: 12px;
}
.py {
  padding-top: 12px;
  padding-bottom: 12px;
}
.px {
  padding-left: 12px;
  padding-right: 12px;
}
.sp ~ .sp {
  border-left: 1px solid #BDC3C7;
}
.pd {
  padding-right: 12px / 2;
}
.pd ~ .pd {
  padding-left: 12px / 2;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.r0 {
  right: 0;
}
.ra {
  right: 0;
}
.t0 {
  top: 0;
}
.ta {
  top: 0;
}
.b0 {
  bottom: 0;
}
.ba {
  bottom: 0;
}
.l0 {
  left: 0;
}
.la {
  left: 0;
}
/* borders */
.b {
  border: 1px solid #BDC3C7;
}
.b ~ .b {
  border-top: 0;
}
.nb {
  border: 0;
}
.nbk {
  background: transparent;
}
/* states */
.ch {
  display: none;
}
.ch ~ span {
  opacity: 0.5;
}
.ch:checked ~ span {
  opacity: 1;
  text-decoration: none;
}
.ch:checked ~ .on {
  display: inline-block;
}
.ch:checked ~ .off {
  display: none;
}
.ch ~ .on {
  display: none;
}
.ch ~ .off {
  display: inline-block;
}
/* fields */
.bu {
  border: 0;
  color: #34495E;
  height: 40px;
  min-width: 40px;
  line-height: 40px;
  border-radius: 3px;
  padding: 0 10px;
  min-height: 40px;
  line-height: 38px;
  transition: opacity 0.3s;
  transition: all 0.3s;
  border: 1px solid #BDC3C7;
  background-color: rgba(0, 0, 0, 0.1);
}
.bu:focus {
  border: 1px solid #0074D9;
}
.bu:active {
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
}
.bu:disabled {
  opacity: 0.5;
}
.f {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.flx-gw > .f {
  width: 6em;
}
/* misc */
.cln {
  border: 0;
  border-top: 1px dotted #BDC3C7;
}
.ar {
  position: absolute;
  right: 12px;
}
.bl {
  color: #0074D9;
  text-decoration: none;
}
.bl:hover {
  text-decoration: underline;
}
.zb > li + li {
  border-top: 1px solid #DDDDDD;
  padding-top: 12px;
}
.max {
  max-height: 640px;
  overflow: auto;
}
.overlay {
  z-index: 2;
}
.invalid {
  border-bottom: 1px dashed #FF4136;
}
.opts > li {
  max-width: 250px;
  width: 100%;
}
.Ace {
  z-index: 1;
  min-height: calc((100vh - 12em) / 2);
}
.Ace-wrapper {
  min-width: 50%;
  position: relative;
}
.Ace-wrapper + .Ace-wrapper::before {
  content: ' ';
  position: absolute;
  border-top: 1px solid #DDDDDD;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 720px) {
  .Ace-wrapper + .Ace-wrapper::before {
    width: 0;
    height: 100%;
    border-top: 0;
    border-left: 1px solid #DDDDDD;
  }
}
.Ace ~ .abs {
  padding: 12px / 2;
  opacity: 0.5;
  z-index: 1;
}
.Ace ~ .abs:hover {
  opacity: 1;
}
.Ace ~ .abs .bu {
  background-color: #DDDDDD;
}
.Ace ~ .abs a {
  background-color: white;
  padding: 12px / 2;
  text-decoration: none;
  font-size: 13px;
  color: #AAAAAA;
}
.Ace ~ .abs a.-on {
  color: #0074D9;
}
.Ace ~ .abs .sp:first-child a {
  border-radius: 3px 0 0 3px;
}
.Ace ~ .abs .sp:last-child a {
  border-radius: 0 3px 3px 0;
}
@media screen and (min-width: 720px) {
  .Ace {
    min-height: calc(100vh - 12em);
  }
}
.Tabs {
  background-color: #DDDDDD;
  background-image: linear-gradient(#DDDDDD, #e8e8e8);
}
.Tabs > span {
  line-height: 1.3;
  color: #AAAAAA;
}
.Tabs > span .x-close {
  z-index: 1;
  cursor: pointer;
  position: relative;
}
.Tabs > span .x-close:hover {
  color: #FFFFFF;
}
.Tabs > span .x-close:hover::before {
  background-color: #FF4136;
  position: absolute;
  content: '';
  margin: auto;
  height: 24px;
  width: 24px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 3px;
}
.Tabs > span > * {
  padding: 6px 12px;
  background-color: inherit;
  color: inherit;
  border: 0;
}
.Tabs > span.sel {
  color: #0074D9;
  cursor: default;
  background: white;
  line-height: inherit;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
  padding-right: 1px;
}
.Tabs > span.sel button,
.Tabs > span.sel input {
  line-height: inherit;
}
.Tabs > span.sel span {
  margin-top: 2px;
  margin-bottom: 2px;
}
.Toolbar {
  position: relative;
}
.jsf-about .ar .menu {
  right: 0;
}
.jsf-about li > .menu {
  display: none;
  position: absolute;
  padding: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.95);
}
.jsf-about li:hover > .menu {
  display: block;
}
.jsf-about li li ~ li {
  margin-top: 12px / 2;
}
.jsf-about li li:hover::before {
  color: #0074D9;
}
.jsf-about li li::before {
  top: 4px;
  left: -5px;
  position: absolute;
  transition: all 0.3s;
  content: '⟀';
  font-size: 15px;
  color: #BDC3C7;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
.jsf-about li li {
  white-space: nowrap;
  position: relative;
  padding-left: 10px;
}
.jsf-about li li.ni {
  padding-left: 0;
}
.jsf-about li li.ni::before {
  content: '';
}
.jsf-about li a {
  text-decoration: none;
  color: #0074D9;
}
.jsf-about li a:hover {
  color: #39CCCC;
}
.jsf-about p,
.jsf-about h2,
.jsf-about h3,
.jsf-about h4 {
  margin-bottom: 12px;
}
.github-ribbon {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  background: #BDC3C7;
  color: white;
  width: 200px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: -50px;
  top: 35px;
}
