{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "semi": [2, "always"],
    "no-unused-vars": 2,
    "no-extra-semi": 2,
    "no-undef": 2
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
