{
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "quotes": [2, "single", "avoid-escape"],
    "semi": [2, "always"],
    "no-unused-vars": 2,
    "no-extra-semi": 2,
    "no-undef": 2
  },
  "ecmaFeatures": {
    "modules": true
  }
}
