body{
    padding-top: 70px
}

.row-centered {
    text-align:center;
}

textarea.json {
    font: smaller monospace;
/*    font-family: monospace;
    font-size: smaller;*/
    height: 280px;
    resize: none;
}
