.Toolbar {
  position: relative;
}

.github-icon {
  background-image: url(../img/github.svg);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding-right: 1.5em;
}

.gear-icon {
  background-image: url(../img/gear.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: 1.5em;
}

.plus-icon {
  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
  background-position: 50% 75%;
  height: 1.8em;
  width: 12px;
}

.jsf-logo-image {
  background-image: url(../img/logo_only.svg);
  background-repeat: no-repeat;
  padding-left: 4.5em;

  @media screen and (min-width: 560px) {
    padding-left: 3.33em;
  }

  @media screen and (min-width: 720px) {
    background: none;
    padding: 0;
  }
}

.jsf-logo {
  transition: all .3s;
  height: 80px;
  width: 100%;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-position: 33.3%;

  &:hover { opacity: .8; }

  a {
    height: 80px;
    width: 320px;
    overflow: hidden;
    text-indent: -640px;
  }
}

.jsf-about {
  .ar {
    .menu {
      right: 0;
    }
  }
  li {
    > .menu {
      display: none;
      position: absolute;
      padding: @padding;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
      background-color: rgba(255, 255, 255, .95);
    }

    &:hover > .menu {
      display: block;
    }

    li ~ li { margin-top: @margin / 2; }

    li:hover::before {
      color: @BLUE;
    }

    li::before {
      top: 4px;
      left: -5px;
      position: absolute;
      transition: all .3s;
      content: '⟀';
      font-size: 15px;
      color: @border-color;
      transform: rotate(225deg);
    }

    li {
      white-space: nowrap;
      position: relative;
      padding-left: 10px;

      &.ni {
        padding-left: 0;
        &::before { content: ''; }
      }
    }

    a {
      text-decoration: none;
      color: @BLUE;

      &:hover {
        color: @TEAL;
      }
    }
  }

  p, h2, h3, h4 {
    margin-bottom: @margin;
  }
}

.github-ribbon {
  transform: rotate(40deg);
  background: @border-color;
  color: white;
  width: 200px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: -50px;
  top: 35px;
}
