doctype html
html
  head
    meta(charset='utf-8')
    title Fake your JSON-Schemas!
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Dosis')
    link(rel='stylesheet' href='css/app.css')
    link(rel='shortcut icon' type='image/icon' href='img/favicon.ico')
  body
    .loading-overlay
      .cnt
        h1.float.jsf-logo: a.dib JSON Schema Faker
        .tac Loading...

    .Toolbar.f
      //- FIXME: redesign ribbon...
      //- a.tdn.tac.github-ribbon(href='//github.com/json-schema-faker/json-schema-faker') Fork me on GitHub
      .md-flx.flx-c
        .p.nosl.h-sm
          //- on small screens hide large logo... but enable a small one above... i.e. before desc
          h1.jsf-logo: a.dib(href='/') JSON Schema Faker
        div.mt
          .pl.pr
            .mb
              //- a.tdn(href=`//www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=${BUTTON_ID}` target='_blank')
              //-   img.mr(src='//img.shields.io/badge/Donate-PayPal-green.svg')
              img.mr(src='//travis-ci.org/json-schema-faker/json-schema-faker.svg?branch=master')
              img.mr(src='//badge.fury.io/js/json-schema-faker.svg')
              iframe.mt(src='//ghbtns.com/github-btn.html?user=json-schema-faker&repo=json-schema-faker&type=star&count=true' frameborder=0 scrolling=0 width=120 height=20)
            p.pr.jsf-logo-image #[b JSON Schema Faker] combines JSON Schema standard with fake data generators, allowing users to generate fake data that conform to the schema.

          #auth

    .sm-flx.flx-m
      #editor.flx-a.flx-lt

    script(src='//cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/yamljs/0.3.0/yaml.min.js')
    script(src='//ace.c9.io/build/src/ace.js')
    script(src='//unpkg.com/chance')

    if env.NODE_ENV === 'production'
      script(src='//unpkg.com/json-schema-faker')
    else
      script(src='vendor.js')
      script(src='main.umd.js')

    script(src='js/app.js')

    if env.NODE_ENV === 'production'
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '#{UA_TOKEN}', 'auto');
        ga('send', 'pageview');
