doctype html
html
  head
    meta(charset='utf-8')
    title Fake your JSON-Schemas!
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Dosis')
    link(rel='stylesheet' href='css/app.css')
    link(rel='shortcut icon' type='image/icon' href='img/favicon.ico')
  body
    .Toolbar.f
      .rel
        a.tdn.tac.github-ribbon(href='//github.com/json-schema-faker/json-schema-faker') Fork me on GitHub
        .md-flx.flx-c
          .p
            h1.jsf-logo: a.dib(href='/') JSON Schema Faker
          div
            .pl.pr
              p.pr.mb #[b JSON Schema Faker] combines JSON Schema standard with fake data generators, allowing users to generate fake data that conform to the schema.
              a.tdn(href=`https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=${BUTTON_ID}` target='_blank')
                img.mr(src='https://img.shields.io/badge/Donate-PayPal-green.svg')
              img.mr(src='https://travis-ci.org/json-schema-faker/json-schema-faker.svg?branch=master')
              img.mr(src='https://badge.fury.io/js/json-schema-faker.svg')
              iframe.mt(src='//ghbtns.com/github-btn.html?user=json-schema-faker&repo=json-schema-faker&type=star&count=true' frameborder=0 scrolling=0 width=120 height=20)

            include _/menu

    .sm-flx.flx-m.p
      #target.flx-a.flx-lt
        h3 Tasks
        ul
          li gist login pre-setup...
          li link options with state (jsfOptions)
          li memoize application state on gist (with options!)

    script(src='bundle.js')
    script(src='js/app.js')

    if env.NODE_ENV === 'production'
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '#{UA_TOKEN}', 'auto');
        ga('send', 'pageview');
